.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 525px;
  width: 100%;
}

.card .mui-image-wrapper {
  width: unset !important;
  height: unset !important;
  display: block !important;
}

.card .mui-image-img {
  max-height: 180px;
}

@media screen and (max-width: 770px) {
  .card {
    max-width: unset;
  }
}
