#education .mui-image-img {
  max-height: 180px;
}

#education .mui-image-wrapper {
  width: unset !important;
  height: unset !important;
  display: block !important;
}

#education .education-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: white;
  overflow: hidden;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 500px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#education .education-text-date {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#education .education-text {
  gap: 1rem;
}

@media screen and (max-width: 770px) {
  #education .education-item {
    gap: 1rem !important;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  #education .education-text {
    gap: 1rem;
  }

  #education .education-text-date {
    justify-content: center;
  }
}
